@model List<Product>

@foreach (Product product in Model)
{
    <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
        <div class="product-item text-center">
            <div class="img">
                <a href="">
                    <img src="~/img/@product.Image" class="img-fluid" alt="">
                </a>
            </div>
            <div class="title mt-3">
                <h6>@product.Name</h6>
            </div>
            <div class="price">
                <span class="text-black-50">Add to cart</span>
                <span class="text-black-50">@product.Price</span>
            </div>
        </div>
    </div>

}
